.fondo{
	background-color: #DE1D22;
}
.fondo1{
	background-color: #ededed;
}
.fondo2{
	background-color: #000000;
}
.letra{
	font-family: 'Inter', sans-serif;
}
.padding{
	padding-left: 6em;
}
.color{
	color: #ededed;
}
.tamaño{
	width: 2em;
	height: 2em;
}
.tamaño1{
	height: 29em; 
}
.margin{
	margin-left: 1em;
}
body{
	background-color: #ededed;
}
